.nav-wrapper{
    margin: 0 auto;
}
ul li a{
    text-transform: uppercase;
}
#photo{
    display:block;
    margin: 0 auto;
    max-width: 500px !important;
}
@media only screen and (min-width: 601px){
    #photo{
        max-width: 100%;
    }
}
#result{
    text-align: center;
}