<html>
<head>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="css/index.css"  media="screen,projection"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<meta http-equiv="Cache-Control" content="no-cache">
<title>RecogWeedtion</title>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

</head>
<body>

<style>
    .nav-wrapper{
        margin: 0 auto;
    }
</style>

<!-- Header -->
<nav class="amber lighten-2">
<div class="container">
<div class="nav-wrapper amber lighten-2">
    <a href="index" class="brand-logo left black-text" style="font-weight: 600; height:100%;">
        <img src="img/logo.png" style="float:left;height:100%; padding:1rem 0; margin-right:1rem;">
        RecogWeedtion
    </a>
    <ul class="right black-text">
        <li><a href="index" class="black-text">Main</a></li>
        <li><a href="" class="black-text">Recognizer</a></li>
        <li><a href="classifier" class="black-text">classifier</a></li>
    </ul>
</div>
</div>
</nav>

<!-- Main block -->
<div class="container">
    <div class="card">
        <div class="card-content">
            <h4>Send your photo</h4>
            <p>We will preprocess it and give a decision.</p>
            <form  method="POST" action="upload" enctype="multipart/form-data">
                <div class="row">
                    <div class="col s12 m9 file-field input-field">
                        <div class="btn amber lighten-2 black-text">
                            <span>File</span>
                            <input type="file" name="file" id="fileupload">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload a photo of the plant">
                        </div>
                    </div>
                    <br>
                    <div class="col s10 m3">
                        <button type="submit" value="Upload your image" class="btn btn-primary amber lighten-2 black-text">
                           Upload Image
                        </button>
                    </div>
                </div>
                <img id="photo" src="#" alt="your image" style="display: none; max-width:100%;"/>
                <p class="flow-text" id="result"></p>
            </form>

            
        </div>
    </div>     
</div>


</body>
<script>
function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
        $("#result").html("");
        $('#photo').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
    }
}

$("#fileupload").change(function() {
    $("#photo").show();
    readURL(this);
});
$('form').submit(function(e){
    $("#photo").hide();
    e.preventDefault();
    var form_data = new FormData(this);
    console.log(form_data);
    $.ajax({
        type: 'POST',
        url: 'upload',
        data: form_data,
        cache: false,
        contentType: false,
        processData: false,
        success: function(answ){
            $("input").val("");
            $("#result").html("We recognized it as " + answ + "!");
        }
    });
})

</script>
</html>
